<div class="container my-5">
  <h1 class="mb-3">{{ project.name }}</h1>

  <dl class="row">
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">{{ project.description }}</dd>

    <dt class="col-sm-3">Budget</dt>
    <dd class="col-sm-9">${{project.budget}}</dd>

    <dt class="col-sm-3">Technologies</dt>
    <dd class="col-sm-9">
      <span class="badge rounded-pill text-bg-secondary fs-7 px-2 py-2 mx-1"><a href="#" class="mx-2 text-light text-decoration-none">X</a> PHP</span>
      <span class="badge rounded-pill text-bg-secondary fs-7 px-2 py-2 mx-1"><a href="#" class="mx-2 text-light text-decoration-none">X</a> .NET</span>
      <span class="badge rounded-pill text-bg-secondary fs-7 px-2 py-2 mx-1"><a href="#" class="mx-2 text-light text-decoration-none">X</a> MySQL</span>
      <span class="badge rounded-pill text-bg-secondary fs-7 px-2 py-2 mx-1"><a href="#" class="mx-2 text-light text-decoration-none">X</a> GoLang</span>
      <span class="badge rounded-pill text-bg-secondary fs-7 px-2 py-2 mx-1"><a href="#" class="mx-2 text-light text-decoration-none">X</a> NodeJS</span>
      <span class="badge rounded-pill text-bg-secondary fs-7 px-2 py-2 mx-1"><a href="#" class="mx-2 text-light text-decoration-none">X</a> Flutter</span>
      <span class="badge rounded-pill text-bg-secondary fs-7 px-2 py-2 mx-1"><a href="#" class="mx-2 text-light text-decoration-none">X</a> CSS</span>
    </dd>
  </dl>

  <h3>Employees on project</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Technologies</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeesOnProject">
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>
          <span class="badge rounded-pill text-bg-secondary px-3 py-2 mx-1"><small>PHP</small></span>
          <span class="badge rounded-pill text-bg-secondary px-3 py-2 mx-1"><small>MySQL</small></span>
          <span class="badge rounded-pill text-bg-secondary px-3 py-2 mx-1"><small>NodeJS</small></span>
          <span class="badge rounded-pill text-bg-secondary px-3 py-2 mx-1"><small>NodeJS</small></span>
        </td>

        <td>
          <button class="btn btn-danger" (click)="removeEmployeeFromProject(employee)">X Remove from project</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Employees not on project</h3>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Technologies</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employeeNotOnProject of employeesNotOnProject">
      <td>{{ employeeNotOnProject.name }}</td>
      <td>{{ employeeNotOnProject.email }}</td>
      <td>
        <span class="badge rounded-pill text-bg-secondary px-3 py-2 mx-1"><small>PHP</small></span>
        <span class="badge rounded-pill text-bg-secondary px-3 py-2 mx-1"><small>MySQL</small></span>
        <span class="badge rounded-pill text-bg-secondary px-3 py-2 mx-1"><small>NodeJS</small></span>
        <span class="badge rounded-pill text-bg-secondary px-3 py-2 mx-1"><small>NodeJS</small></span>
      </td>

      <td>
        <button class="btn btn-outline-primary" (click)="addEmployeeToProject(employeeNotOnProject)">+ Add to project</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


