<div class="container my-5">
  <h1 class="mb-3">Projects</h1>
  <a class="btn btn-success" aria-current="page" routerLink="/projects/create">New project</a>
  <table class="mt-3 table table-striped table-bordered" *ngIf="projects && projects.length > 0">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Budget</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects">
      <td>{{ project.id }}</td>
      <td><a [routerLink]="['/projects', project.id]">{{ project.name }}</a></td>
      <td>{{ project.description }}</td>
      <td>{{ project.budget }}</td>
      <td>
        <a class="btn btn-warning mx-1" [routerLink]="['/projects', project.id, 'edit']">Edit</a>
        <button class="btn btn-danger" (click)="deleteProject(project.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <p *ngIf="!projects || projects.length <= 0">No projects found</p>
</div>
