<div class="container my-5">
  <h1 class="mb-3">Add new technology</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addTechnology()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="addTechnologyRequest.name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
