<div class="container my-5">
  <h1 class="mb-3">Add new project</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="addProject()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="addProjectRequest.name" name="name">
        </div>

        <div class="mb-3">
          <label for="department" class="form-label">Description</label>
          <input type="text" class="form-control" id="department" [(ngModel)]="addProjectRequest.description" name="description">
        </div>

        <div class="mb-3">
          <label for="salary" class="form-label">Budget</label>
          <input type="number" class="form-control" id="salary" [(ngModel)]="addProjectRequest.budget" name="budget">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
