<div class="container my-5">
  <h1 class="mb-3">Edit new employee</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="updateEmployee()">

        <div class="mb-3">
          <label for="id" class="form-label">ID</label>
          <input type="text" class="form-control disabled" id="id" readonly [(ngModel)]="employee.id" name="id">
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="employee.name" name="name">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="employee.email" name="email">
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input type="text" class="form-control" id="phone" [(ngModel)]="employee.phone" name="phone">
        </div>

        <div class="mb-3">
          <label for="salary" class="form-label">Salary</label>
          <input type="number" class="form-control" id="salary" [(ngModel)]="employee.salary" name="salary">
        </div>

        <div class="mb-3">
          <label for="department" class="form-label">Department</label>
          <input type="text" class="form-control" id="department" [(ngModel)]="employee.department" name="department">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
