<div class="container my-5">
  <h1 class="mb-3">Technologies</h1>
  <a class="btn btn-success" aria-current="page" routerLink="/technologies/create">New Technology</a>

  <table class="mt-3 table table-striped table-bordered" *ngIf="technologies && technologies.length > 0">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let technology of technologies">
      <td>{{ technology.id }}</td>
      <td>{{ technology.name }}</td>
      <td>
        <a class="btn btn-warning mx-1" [routerLink]="['/technologies', technology.id, 'edit']">Edit</a>
        <button class="btn btn-danger" (click)="deleteTechnology(technology.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

  <p *ngIf="!technologies || technologies.length <= 0">No technologies found</p>
</div>
