<div class="container my-5">
  <h1 class="mb-3">Employees</h1>
  <a class="btn btn-success" aria-current="page" routerLink="/employees/create">New Employee</a>
  <table class="mt-3 table table-striped table-bordered" *ngIf="employees && employees.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Salary</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.department }}</td>
        <td>
          <a class="btn btn-primary mx-1" [routerLink]="['/employees', employee.id]">View</a>
          <a class="btn btn-warning mx-1" [routerLink]="['/employees', employee.id, 'edit']">Edit</a>
          <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!employees || employees.length <= 0">No employees found</p>
</div>
