<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Employee management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="technologies">Technologies</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
