<div class="container my-5">
  <h1 class="mb-3">Edit technology</h1>

  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="updateTechnology()">

        <div class="mb-3">
          <label for="id" class="form-label">ID</label>
          <input type="text" class="form-control disabled" id="id" readonly [(ngModel)]="technology.id" name="id">
        </div>
        <div class="mb-3">
          <label for="id" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="technology.name" name="name">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
